body {
    margin: 30px 50px 20px 50px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
}
.top-menu, footer, .send {
    font-size: 13px;
}
footer {
    text-align: center;
    margin-top: 50px;
}
h2 {
    text-align: center;
    margin-top: 30px;
}
a {
    color: black;
}

a:hover {
    color:rgb(91, 91, 91);
}
.contact {
    vertical-align: middle;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content:center;
    padding: 10px;
}
.email, .name, .message, .send {
    margin: -5px auto 25px auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 7px;
    font-size: 13px;

}
input:placeholder-shown, textarea:placeholder-shown, .send {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}

form {
    font-size: 16px;
}
.send {
    background-color:rgb(172, 172, 172);
    margin-top: 30px;
    width: 100%;
}
.send:hover {
    background-color:rgb(192, 192, 192);

}