body {
    margin: 30px 50px 20px 50px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
}
.top-menu, footer {
    font-size: 13px;
}
h2 {
    text-align:center;
}
footer {
    text-align: center;
    margin-top: 50px;
}

a {
    color: black;
}

a:hover {
    color:rgb(91, 91, 91);
}
.upcoming {
    text-align: left;
    margin-bottom: 0
}

.project-list {
    margin: 0 auto 50px auto;
    padding: 10px;
    display: flex;
    flex-flow: column;
    vertical-align: middle;
    width: auto;
    text-align: center;
    align-items: center;
}
@media screen and (min-width:700px){
    img {
        width: 70%;
    }
}
@media screen and (max-width:699px){
    img {
        width: 100%;
    }
}
img {
    margin-bottom: 20px;
}

@media (prefers-color-scheme: dark){
        body {
        margin: 30px 50px 20px 50px;
        font-family: 'Courier New', Courier, monospace;
        display: flex;
        flex-direction: column;
        background-color: black;
        color: white;
    }
    .top-menu, footer {
        font-size: 13px;
    }
    h2 {
        text-align:center;
    }
    footer {
        text-align: center;
        margin-top: 50px;
    }

    a {
        color: white;
    }

    a:hover {
        color:rgb(184, 184, 184);
    }
    .upcoming {
        text-align: left;
        margin-bottom: 0
    }

    .project-list {
        margin: 0 auto 50px auto;
        padding: 10px;
        display: flex;
        flex-flow: column;
        vertical-align: middle;
        width: auto;
        text-align: center;
        align-items: center;
    }
    @media screen and (min-width:700px){
        img {
            width: 70%;
        }
    }
    @media screen and (max-width:699px){
        img {
            width: 100%;
        }
    }
    img {
        margin-bottom: 20px;
    }
}
