:root {
    --light-1: rgb(91, 91, 91);
    --light-2: rgb(251,251,251);
    --light-3: rgb(192,192,192);
    --dark-1: rgb(203, 203, 203);
    --dark-2: rgb(221, 221, 221);
    --dark-3: rgb(251,251,251);
    --dark-bg: rgb(37,37,37);
}
body {
    margin: 30px 50px 20px 50px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
}
h2 {
    text-align:center;
}
footer {
    text-align: center;
    margin-top: 50px;
}

a {
    color: black;
}

a:hover {
    color:var(--light-1);
}
.upcoming {
    text-align: left;
    margin-bottom: 0
}

.project-list {
    margin: 0 auto 50px auto;
    padding: 10px;
    display: flex;
    flex-flow: column;
    vertical-align: middle;
    width: auto;
    text-align: center;
    align-items: center;
}
@media screen and (min-width:600px) and (max-width:600px){
    img {
        width: 80%;
    }
    .top-menu {
        font-size: 15px;
    }
    p, footer, li {
        font-size: 14px;
    }
    h3 {
        font-size: 14px;
    }
}
@media screen and (min-width:768px){
    img {
        width: 70%;
    }
    .top-menu {
        font-size: 15px;
    }
    p, footer, li {
        font-size: 14px;
    }
    h3 {
        font-size: 14px;
    }
}
@media screen and (min-width:992px){
    img {
        width: 60%;
    }
    .top-menu {
        font-size: 15px;
    }
    p, footer, li {
        font-size: 14px;
    }
    h3 {
        font-size: 18px;
    }
}
img {
    margin-bottom: 20px;
}

/* DARK MODE */

@media (prefers-color-scheme: dark) {
    body {
    margin: 30px 50px 20px 50px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-bg);
    color: white;
}
h2 {
    text-align:center;
}
footer {
    text-align: center;
    margin-top: 50px;
}

a {
    color: white;
}

a:hover {
    color:var(--dark-1);
}
.upcoming {
    text-align: left;
    margin-bottom: 0
}

.project-list {
    margin: 0 auto 50px auto;
    padding: 10px;
    display: flex;
    flex-flow: column;
    vertical-align: middle;
    width: auto;
    text-align: center;
    align-items: center;
}
@media screen and (min-width:600px) and (max-width:600px){
    img {
        width: 80%;
    }
    .top-menu {
        font-size: 15px;
    }
    p, footer, li {
        font-size: 14px;
    }
    h3 {
        font-size: 14px;
    }
}
@media screen and (min-width:768px){
    img {
        width: 70%;
    }
    .top-menu {
        font-size: 15px;
    }
    p, footer, li {
        font-size: 14px;
    }
    h3 {
        font-size: 14px;
    }
}
@media screen and (min-width:992px){
    img {
        width: 60%;
    }
    .top-menu {
        font-size: 15px;
    }
    p, footer, li {
        font-size: 14px;
    }
    h3 {
        font-size: 18px;
    }
}
img {
    margin-bottom: 20px;
}

}