:root {
    --light-1: rgb(91, 91, 91);
    --light-2: rgb(251,251,251);
    --light-3: rgb(192,192,192);
    --dark-1: rgb(203, 203, 203);
    --dark-2: rgb(221, 221, 221);
    --dark-3: rgb(251,251,251);
    --dark-bg: rgb(37,37,37);
}
body {
    margin: 30px 50px 20px 50px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
}
footer {
    text-align: center;
    margin-top: 50px;
}
h2 {
    text-align: center;
    margin-top: 30px;
    padding: 20px
}
.top-menu, footer {
    font-size: 13px;
}
a {
    color: black;
}

a:hover {
    color: var(--light-1);
}
.go-home {
    background-color: var(--light-2);
    color: var(--light-1);
    margin-top: 30px;
    width: 100%;
    margin: 20px auto 25px auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 2px black;
    border-style:outset;
    border-radius: 7px;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;

}
.go-home:hover {
    background-color: var(--light-3);

}
@media only screen and (max-device-width:430px){
    .top-menu {
        font-size: 15px;
    }
    p, footer, .go-home {
        font-size: 14px;
    }
    h2 {
        font-size: 25px;
    }
    body {
        margin: 30px 25px 20px 25px;
    }
    .go-home {
        align-items: center;
    }
}

@media only screen and (min-width:430px){
    .top-menu {
        font-size: 15px;
    }
    p, footer, .go-home {
        font-size: 14px;
    }
    h2 {
        font-size: 25px;
    }
}

@media only screen and (min-width:768px){
    .top-menu {
        font-size: 15px;
    }
    p, footer, .go-home {
        font-size: 14px;
    }
    h2 {
        font-size: 25px;
    }
}
@media only screen and (min-width:992px){
    .top-menu {
        font-size: 15px;
    }
    p, footer, .go-home {
        font-size: 14px;
    }
    h2 {
        font-size: 25px;
    }
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
    body {
    margin: 30px 50px 20px 50px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-bg);
    color: white;
}
footer {
    text-align: center;
    margin-top: 50px;
}
h2 {
    text-align: center;
    margin-top: 30px;
    padding: 20px
}
.top-menu, footer {
    font-size: 13px;
}
a {
    color: white;
}

a:hover {
    color:var(--dark-1);
}
.go-home {
    background-color:var(dark-2);
    color: var(--dark-bg);
    margin-top: 30px;
    width: 100%;
    margin: 20px auto 25px auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 2px black;
    border-style:outset;
    border-radius: 7px;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;

}
.go-home:hover {
    background-color:var(dark-3);

}
@media only screen and (max-device-width:430px){
    .top-menu {
        font-size: 15px;
    }
    p, footer, .go-home {
        font-size: 14px;
    }
    h2 {
        font-size: 25px;
    }
    body {
        margin: 30px 25px 20px 25px;
    }
    .go-home {
        align-items: center;
    }
}

@media only screen and (min-width:430px){
    .top-menu {
        font-size: 15px;
    }
    p, footer, .go-home {
        font-size: 14px;
    }
    h2 {
        font-size: 25px;
    }
}

@media only screen and (min-width:768px){
    .top-menu {
        font-size: 15px;
    }
    p, footer, .go-home {
        font-size: 14px;
    }
    h2 {
        font-size: 25px;
    }
}
@media only screen and (min-width:992px){
    .top-menu {
        font-size: 15px;
    }
    p, footer, .go-home {
        font-size: 14px;
    }
    h2 {
        font-size: 25px;
    }
}
}